body{
    background-color: rgb(212, 0, 255);
    color: rgb(230, 255, 253))255, 0, 0);
}
  header{
     background-color: rgb(247, 229, 229);
     height: 35 px;
  
    MARGIN-LEFT: -20PIX; 
    MARGIN-RIGHT: -20PIX;

    header h3 {
       padding-left: 15px;
      color:blueviolet
      text-aling: center;
    font-size: 30px;
  }







